<nav class="navbar navbar-inverse" ng-controller="navbarController as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">VoteGuru</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="signup" ng-if="vm.showSignup() ">Sign Up</a></li>
                <li><a ui-sref="login" ng-if="vm.showLogin() ">Login</a></li>
                <li><a ui-sref="settingPage" ng-if="vm.showSettingsOrLogout()">Settings</a></li>
                <li><a ui-sref="login" ng-if="vm.showSettingsOrLogout()">Logout</a></li>
                <li><a href="https://github.com/syosoh06/voteguru">Github</a></li>
                <span class="col-sm-4"></span>

            </ul>
        </div>
    </div>
</nav>