
<div class="container">
    <div class="col-sm-4">
        <div class="text-center">
            <h4>Live Results</h4>
            <h6>Live graphs show your poll results immediately in an easy to understand format.
                One graph will not provide the whole picture, that's why we provide multiple graph types to better describe your results.</h6>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="text-center">
            <h4>Works Everywhere</h4>
            <h6>Traditional desktop computers now represent only 30% of Internet traffic.
                Your poll must work on the tablets, smart phones, netbooks and notebooks that your visitors are using.
                Our responsive designs do just that.</h6>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="text-center">
            <h4>Social Integration</h4>
            <h6>Free integrated facebook or traditional comments allow your poll voters to provide immediate feedback and discuss results.
                Social share buttons encourage your poll voters to help spread the word.</h6>
        </div>
    </div>
</div>