<div ng-controller="myPollsPageController as vm" class="text-center">
    <ul ng-repeat="pollObj in vm.polls">
        <li class="list-group-item">{{pollObj.name}}
            <button class="btn btn-primary" ng-click="vm.deletePoll(pollObj)" ng-hide="vm.hideDeleteButton(pollObj)">Delete</button>
            <button class="btn btn-primary" ng-click="vm.editPoll(pollObj)">Edit</button>
        <button class="btn btn-primary" ng-click="vm.vote(pollObj)">Vote</button>
        <button class="btn btn-primary" ng-click="vm.viewResults(pollObj)">View Results</button> </li>
    </ul>
</div>
