<div class="jumbotron" ng-controller="usersHomePageMidbarController as vm">
    <h1 class="text-center">Dashboard</h1>
    <h4 class="text-center">What would you like to do today ?</h4>
    <div class="text-center">
        <button type="button" class="btn btn-success text-center" ng-click="vm.goToNewPolls()">Create new polls</button>
        <button type="button" class="btn btn-success text-center" ng-click="vm.goToMyPolls()">View your polls</button>
        <button type="button" class="btn btn-success text-center" ng-click="vm.goToAllPolls()">View All polls for VoteGuru</button>
    </div>

</div> 